* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #020617;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero span {
    color: #38bdf8;
}

button {
    padding: 10px 20px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
}

section {
    padding: 60px;
}

.skill-box span {
    background: #1e293b;
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 40px;
    text-align: center;
}

.skill-box span {
    transition: 0.3s;
    border-radius: 6px;
}

.skill-box span:hover {
    background: #38bdf8;
    color: #020617;
    transform: translateY(-5px);
}


.card {
    transition: 0.3s;
    border-radius: 10px;
}

.card:hover {
    background: #020617;
    transform: translateY(-8px);
}
